.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: Helvetica, sans-serif;
}

.sidenav a {
  margin: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  width: 160px;
  height: 40px;
  /* border-bottom-width: 0;
  border-bottom-color: #f1f1f1;
  border-bottom-style: solid; */
}
.sidenav a:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #f1f1f1;
  transition: 0.3s linear;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  /* border-bottom-width: 1px; */
}

.sidenav a:hover:after {
  content: "";
  width: 160px;
  height: 2px;
  background-color: #f1f1f1;
  transition: 0.3s linear;
  display: block;
}

.sidenav__close-btn,
.sidenav__open-btn {
  z-index: 10;
  position: absolute;
  left: 210px;
  color: #818181;
}

.sidenav__close-btn:before {
  content: "\2613";
  cursor: pointer;
  font-size: 25px;
}

.sidenav__open-btn:before {
  content: "\2630";
  cursor: pointer;
  font-size: 25px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
