.toggle-switch span span {
  display: none;
}

@media only screen {
  .toggle-switch {
    display: inline-block;
    height: 18px;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 50px;
    cursor: pointer;
    width: 40px;
    user-select: none;
  }

  .toggle-switch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .toggle-switch label,
  .toggle-switch > span {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
  }

  .toggle-switch input:focus ~ a,
  .toggle-switch input:focus + label {
    outline: none;
  }

  .toggle-switch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
  }

  .toggle-switch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
  }

  .toggle-switch > span {
    position: absolute;
    left: -50px;
    width: 100%;
    margin: 0;
    padding-right: 50px;
    text-align: left;
    white-space: nowrap;
  }

  .toggle-switch > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 50px;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    left: 15%;
    top: -1px;
    opacity: 0;
  }
  .toggle-switch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: block;
    height: 100%;
    padding: 0;
    left: 2px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .toggle-switch > span span:first-of-type {
    color: #fff;
    opacity: 1;
    left: 45%;
  }
  .toggle-switch > span:before {
    content: "";
    display: block;
    width: 130%;
    height: 100%;
    position: absolute;
    left: 50px;
    top: -2px;
    background: linear-gradient(40deg, #00bf82, #0099ae);
    border: 1px solid #ccc;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .toggle-switch input:checked ~ a {
    border-color: #fff;
    left: 100%;
    margin-left: -8px;
  }
  .toggle-switch input:checked ~ span:before {
    border-color: #fd8f67;
    box-shadow: inset 0 0 0 30px #fd8f67;
  }
  .toggle-switch input:checked ~ span span:first-of-type {
    opacity: 0;
  }
  .toggle-switch input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #fff;
  }
  /* Switch Sizes */
  .toggle-switch.large {
    width: 75px;
    height: 28px;
    /* position: absolute; */
    right: 50px;
    margin-right: 0;
  }
  .toggle-switch.large a {
    width: 27px;
  }
  .toggle-switch.large > span {
    height: 30px;
    line-height: 28px;
  }
  .toggle-switch.large input:checked ~ a {
    left: 79px;
  }
  .toggle-switch.large > span span {
    font-size: 1.1em;
  }
  .toggle-switch.large > span span:first-of-type {
    left: 50%;
  }
  .toggle-switch.xlarge {
    width: 80px;
    height: 36px;
  }
  .toggle-switch.xlarge a {
    width: 36px;
  }
  .toggle-switch.xlarge > span {
    height: 38px;
    line-height: 37px;
  }
  .toggle-switch.xlarge input:checked ~ a {
    left: 52px;
  }
  .toggle-switch.xlarge > span span {
    font-size: 1.4em;
  }
  .toggle-switch.xlarge > span span:first-of-type {
    left: 50%;
  }
}
